
.root{
    --vj26red0: #2C000B;
    --vj26red1: #990001;
    --vj26red2: #DA0000;
    --vj26red3: #E16F4A;
    --vj26orange0: #4A2C0B;
    --vj26orange1: #BE6716;
    --vj26orange2: #E9A330;
    --vj26orange3: #F2DDC0;
    --vj26yellow0: #655002;
    --vj26yellow1: #DAB203;
    --vj26yellow2: #FEE600;
    --vj26yellow3: #FFF486;
    --vj26blue0: #0B1740;
    --vj26blue1: #253C90;
    --vj26blue2: #6991FB;
    --vj26blue3: #B0C7FD;
    --vj26green0: #2A4B30;
    --vj26green1: #4B8556;
    --vj26green2: #81D69F;
    --vj26green3: #B6EAD2;
    --vj26purple0: #480C42;
    --vj26purple1: #A42291;
    --vj26purple2: #DC4AB2;
    --vj26purple3: #F7A9D4;
    --vj26dark: #1E070B;
    --vj26gray: #717171;
    --vj26light: #FFF6F4;

    --borderWidth: 2px;
    --borderStyle: dotted;
    --borderColor: var(--vj26orange3);


    --background-image: none;
    --mainBackground: var(--vj26orange3);
    --background-donatebar: var(--vj26blue2);
    --background-donatebar-fill: var(--vj26green1);
    --background-detail: var(--vj26orange2);
    --donateBarFill: var(--vj26green2);
    --donateBarFillLoad: var(--vj26green3);
    --secondary: var(--vj26dark);
    --scheduleFallBackBG: url("./img/tirehtoori.png") center/contain no-repeat;
    --incentiveFallBackBG: url("./img/voimamies.png") center/contain no-repeat;
    --smallDivider: url("./img/kolmio.png");
    --divider: url("./img/kolmio.png");
    --clockIcon: url("./img/clock.png");
    --mainFont: poppins;
    --titleFont: bonny;
}


@font-face {
    font-family: 'poppins';
    src: url('./Poppins-Variable.ttf') format('truetype');
    ascent-override: 102%;
}

@font-face {
    font-family: 'bonny';
    src: url('./Bonny-Variable.ttf') format('truetype');
}

.clockIcon {
    margin-right: 0.4em;
    margin-left: 0.1em;
    width: 4em;
}
.pauseFullCam{
    .sponsorHeader{
        display: none;
    }
    .sponsorHolder {
        height: 420px;
        width: 630px;
        position: relative;
        margin-right: -32px;
        margin-bottom: -26px;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url("./img/kehys.png") center/contain no-repeat;
            z-index: 100;
        }
        .sponsors {
            position: absolute;
            top: 15%;
            left: 10%;
            bottom: 10%;
            right: 10%;
            padding: 5%;
            background: var(--vj26orange3)  var(--background-image) center/cover;
            overflow: hidden;
        }
    }
}
.sixteenNine {
    .logoHolder {
        height: 170px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        .logo {
            background: url("./img/logo/Text_KolmioYear.svg") center/contain no-repeat;
        }
    }
}
.sixteenNineBigCam {
    .logoHolder {
        height: 170px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        .logo {
            background: url("./img/logo/Text_KolmioYear.svg") center/contain no-repeat;
        }
    }
    .camOverHolder{
        width: 100%;
    }
    .overCamInfo {
        z-index: 100;
        position: absolute;;
        width: 760px;
    }
    .camera {
        margin-right: -280px;
        width: 760px;
        height: 500px;
    }

.gameView > div > .border{
    outline: none;
}
    .bottomBar {
        margin-left: 280px;
    }
}
.sixteenNineDuoSplitCam, .sixteenNineDuo {
    --fontMinScale: 0.75;
    .logoHolder{
        height: calc(100% - 0.3em);
        margin: 0.1em;
        .logo {
            background: url("./img/logo/TextSKolmioYear.svg") center/contain no-repeat;
        }
    }

    .gameInfo {
        .gameData {
            max-width: 460px;
            min-width: 400px;
        }
        .gameName {
            max-height: 86px;
        }
    }
    .bottomBar{
        padding-top: 0.5em;
        margin-bottom: -2px;
    }
}

.sixteenNineDuoCornered{
    .logoHolder{
        flex-grow: 1;
        height: 2.5em;
        margin: 0.2em;
        .logo {
            background: url("./img/logo/Text.svg") center/contain no-repeat;
        }
    }
}
.fourThree {
    .logoHolder {
        margin-top: 5px;
        height: 160px;
        margin-left: var(--paddings);
        margin-right: var(--paddings);
        .logo{
            background: url("./img/logo/Text_KolmioYear.svg") center/contain no-repeat;
        }
    }
    .content{
        font-size: 0.9em;
    }
    .leftBar {
        gap: 0;
    }
    .sponsorHeader {
        font-size: 0.9em;
    }
    .sponsors > div > div:not(.sponsorHeader){
        margin-top: -0.3em;
    }
}
.fourThreeDuoSplitCam, .fourThreeDuo{
    .logoHolder {
        height: calc(100% - 0.04em);
        margin: 0.02em;
        .logo{
            background: url("./img/logo/TextSKolmioYear.svg") center/contain no-repeat;
        }
    }
    .bottomBar{
        padding-top: 0.3em;
        margin-bottom: -2px;
        gap: 2em
    }
    .topBar, .bottomBar{
        font-size: 0.7em;
    }

    .gameInfo {
        .gameData {
            width: 500px;
        }
    }
    .playerNameBlobRight, .playerNameBlobLeft{
        & > div:first-child {
            margin-top: calc(var(--paddings) * 1.2);
        }
        & > div:last-child {
            margin-bottom: calc(var(--paddings) * 0.8);
        }
    }
    .playerNameBlobLeft{
        & > div:last-child {
            margin-right: calc(var(--paddings) * 2.5);
        }
    }
    .playerNameBlobRight{
        & > div:first-child {
            margin-left: calc(var(--paddings) * 2.5);
        }
    }
    .timer{
        -webkit-text-stroke: 1.3px var(--vj26blue2);
    }
}
.scheduleIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .gameIcon{
        aspect-ratio: 1;
        height: 90%;
        width: 90%;
    }
}
.gameInfo{
    .gameIcon{

        aspect-ratio: 1;
        height: 5em;
        margin-right: 0.6em;
    }
}
.pause {
    .logoHolder{
        height: calc(4.5em);
        margin: 0.4em;
        .logo {
            background: url("./img/logo/TextKolmioYear.svg") center/contain no-repeat;
        }
    }

    .sponsors > div > div:not(.sponsorHeader){
        margin: 0 2em;
    }
}
.yapping {
    .logoHolder{
        height: calc(4.5em);
        margin: 0.4em;
        .logo {
            background: url("./img/logo/TextKolmioYear.svg") center/contain no-repeat;
        }
    }
}
.yappingDuoCam {
    .logoHolder{
        height: calc(4.5em);
        margin: 0.1em;
        .logo {
            background: url("./img/logo/TextKolmioYear.svg") center/contain no-repeat;
        }
    }
}

.mainArea, .leftBar, .midBar, .bottomBar, .topBar, .gameView, .topRight, .bottomLeft, .camera {
    background: var(--mainBackground);
}
.incentives{
    .incentive{
        .incentiveGameTitle{
            color: var(--secondary);
        }
        .incentiveStatus{
            .emptyIncentive{
                color: var(--vj26light);
                text-shadow: 0px 0px 3px var(--vj26dark), 0px 0px 3px var(--vj26dark);
            }
        }
        .incentiveClosing{
            color: var(--vj26purple0);
        }
        .incentiveMilestoneRow{
            background-color: var(--vj26purple0);
            --outline: var(--vj26purple0);
            text-shadow: 1px 1px 1px var(--outline), 1px -1px 1px var(--outline), -1px -1px 1px var(--outline), -1px 1px 1px var(--outline), 0px 0px 2px var(--outline);
            -webkit-text-stroke: 0.5px var(--outline);
            color: var(--vj26purple3);
            .incentiveBarFill{
                background-color: var(--vj26purple2);
            }
            &.winningOption {
                --outline: var(--vj26green2);
                text-shadow: 1px 1px 1px var(--outline), 1px -1px 1px var(--outline), -1px -1px 1px var(--outline), -1px 1px 1px var(--outline), 0px 0px 2px var(--outline);
                -webkit-text-stroke: 0.5px var(--outline);
                color: var(--vj26green3);
                .incentiveBarFill{
                    background-color: var(--vj26green1);
                }
            }

        }
        .incentiveOptionRow{
            .incentiveBar{
                &:nth-of-type(1) .incentiveBarFill{
                    background-color: var(--vj26green3);
                }
                &:nth-of-type(2) .incentiveBarFill{
                    background-color: var(--vj26blue3);
                }
                &:nth-of-type(3) .incentiveBarFill{
                    background-color: var(--vj26yellow3);
                }
                &:nth-of-type(4) .incentiveBarFill{
                    background-color: var(--vj26purple3);
                }
                &:nth-of-type(5) .incentiveBarFill{
                    background-color: var(--vj26red3);
                }

                &.winningOption {
                    .incentiveBarFill {
                        color: var(--vj26dark);
                        background-color: var(--vj26green1);
                    }
                    color: var(--vj26green2);
                    text-shadow: 0px 0px 3px var(--vj26dark), 0px 0px 3px var(--vj26dark);
                }
                &.emptyOption {
                    .incentiveBarFill {
                        filter: saturate(1);
                    }
                }
            }
        }
    }
}
.donateBarMain {
    --outline: var(--vj26green3);
    text-shadow: 1px 1px 1px var(--outline), 1px -1px 1px var(--outline), -1px -1px 1px var(--outline), -1px 1px 1px var(--outline), 0px 0px 2px var(--outline);
    -webkit-text-stroke: 0px var(--outline);
    color: var(--vj26green0);
}
.timer {
    &.timerStopped {
        --timerFlashColor: var(--vj26green2);
        color: var(--vj26green1);
    }
    &.timerRunning {
        color: var(--vj26blue2);
    }
    &.timerIdle {
        color: var(--vj26green0);
    }
}


.donationList{
    .divider{
        height: 65%;
        aspect-ratio: 1;
        &:last-child {
            display: none;
        }
    }
}
.donateBar {
    .smallDivider {
        height: 1em;
    }
}

.incentiveFallBack{
    background: var(--incentiveFallBackBG, none);
}
.scheduleFallBack{
    background: var(--scheduleFallBackBG, none);
}


.fontScaler {
    font-size: calc(max(var(--fontMinScale, 0.1), var(--fontScale, 1)) * 0.96em)
}



.counter {
    .counterValue {
        position: relative;
        -webkit-text-stroke: 0.075em var(--vj26light);
    }
    --counterColor0: var(--vj26yellow3);
    --counterColor1: var(--vj26red3);
    --counterColor2: var(--vj26purple3);
    --counterColor3: var(--vj26light);
    --counterColor4: var(--vj26blue3);
    --counterColor5: var(--vj26green3);
    --counterColor6: var(--vj26orange3);
    --counterColor7: var(--vj26gray);
}
.counterIcon{
    .fillable{
        fill: var(--FillColor)
    }
    .outline{
        fill: var(--vj26light);
    }
}
