
.root{
    --lightForest: #49acbc;
    --lighterPurple: #DE91CC;
    --brokenpurple: #A15C90;
    --background-image: url("img/bg.png");
    --mainBackground: var(--darkForest) fixed var(--background-image) -20px -50px;
    --background-donatebar: var(--darkerForest) fixed var(--background-image) -10px -170px;
    --background-donatebar-fill: var(--darkGreen) fixed var(--background-image) -10px -170px;
    --background-detail: var(--blue) fixed var(--background-image) -10px -170px;
    --donateBarFill: var(--darkGreen) fixed var(--background-image) -10px -170px;
    --donateBarFillLoad: var(--green) fixed var(--background-image) -10px -170px;
    --secondary: var(--darkestPurple);
    --scheduleFallBackBG: url("./img/tikkaviuhti.png") right/contain no-repeat;
    --incentiveFallBackBG: url("./img/raakkuviuhti.png") left/contain no-repeat;
    --smallDivider: url("./img/kolmio.png");
    --divider: url("./img/kolmio.png");
    --clockIcon: url("./img/clock.png");
}
.pauseFullCam{
    .sponsorHeader{
        display: none;
    }
    .sponsorHolder {
        height: 420px;
        width: 630px;
        position: relative;
        margin-right: -32px;
        margin-bottom: -26px;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: url("./img/kehys.png") center/contain no-repeat;
            z-index: 100;
        }
        .sponsors {
            position: absolute;
            top: 15%;
            left: 10%;
            bottom: 10%;
            right: 10%;
            padding: 5%;
            background: var(--darkerForest)  var(--background-image) center/cover;
            overflow: hidden;
        }
    }
}

.sixteenNine {
    .logoHolder {
        height: 100px;
        margin-left: var(--paddings);
        margin-right: var(--paddings);
        .logo {
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
}
.sixteenNineDuoSplitCam, .sixteenNineDuo {
    --fontMinScale: 0.75;
    .logoHolder{
        height: calc(100% - 0.8em);
        margin: 0.4em;
        .logo {
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }

    .gameInfo {
        .gameData {
            max-width: 460px;
            min-width: 400px;
        }
        .gameName {
            max-height: 80px;
        }
    }
    .bottomBar{
        padding-top: 0.5em;
        margin-bottom: -2px;
    }
}

.sixteenNineDuoCornered{
    .logoHolder{
        flex-grow: 1;
        height: 2.5em;
        margin: 0.4em;
        .logo {
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
}
.fourThree {
    .logoHolder {
        height: 80px;
        background: url("./img/logo.png") center/contain no-repeat;
        margin-left: var(--paddings);
        margin-right: var(--paddings);
        .logo{
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
    .content{
        font-size: 0.9em;
    }
}
.fourThreeDuoSplitCam, .fourThreeDuo{
    .logoHolder {
        height: calc(100% - 0.04em);
        margin: 0.02em;
        .logo{
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
    .bottomBar{
        padding-top: 0.3em;
        margin-bottom: -2px;
        gap: 2em
    }
    .topBar, .bottomBar{
        font-size: 0.7em;
    }

    .gameInfo {
        .gameData {
            width: 500px;
        }
    }
    .playerNameBlobLeft, .playerNameBlobRight{
    }
    .timer{
    -webkit-text-stroke: 1.3px var(--darkerPurple);
    }
}
.scheduleIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .gameIcon{
        background-color: var(--darkestPurple);
        border-radius: 50%;
        aspect-ratio: 1;
        height: 90%;
        width: 90%;
        & > img {
            height: 92%;
            width: 92%;
            margin-top: 4%;
            margin-left: 4%;
            border-radius: 50%;
        }
    }
}
.gameInfo{
    .gameIcon{
        background-color: var(--darkestPurple);
        border-radius: 50%;
        aspect-ratio: 1;
        height: 5em;
        margin-right: 0.6em;
        & > img {
            height: 92%;
            width: 92%;
            margin-top: 4%;
            margin-left: 4%;
            border-radius: 50%;
        }
    }
}
.pause {
    .logoHolder{
        height: calc(4.5em);
        margin: 0.4em;
        .logo {
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
}
.yapping {
    .logoHolder{
        height: calc(4.5em);
        margin: 0.4em;
        .logo {
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
}
.yappingDuoCam {
    .logoHolder{
        height: calc(4.5em);
        margin: 0.4em;
        .logo {
            background: url("./img/logo.png") center/contain no-repeat;
        }
    }
}

.mainArea, .leftBar, .midBar, .bottomBar, .topBar, .gameView, .topRight, .bottomLeft, .camera {
    background: var(--mainBackground);
}
.incentives{
    .incentive{
        .incentiveGameTitle{
            color: var(--secondary);
        }
        .incentiveStatus{
            .emptyIncentive{
                color: var(--lighterPurple);
                text-shadow: 0px 0px 3px var(--darkestPurple), 0px 0px 3px var(--darkestPurple);
            }
        }
        .incentiveClosing{
            color: var(--darkerPurple);
        }
        .incentiveMilestoneRow{
            background-color: var(--darkerPurple);
            --outline: var(--darkerPurple);
            text-shadow: 1px 1px 1px var(--outline), 1px -1px 1px var(--outline), -1px -1px 1px var(--outline), -1px 1px 1px var(--outline), 0px 0px 2px var(--outline);
            -webkit-text-stroke: 0.5px var(--outline);
            color: var(--lightPurple);
            .incentiveBarFill{
                background-color: var(--purple);
            }
            &.winningOption {
                --outline: var(--darkerForest);
                text-shadow: 1px 1px 1px var(--outline), 1px -1px 1px var(--outline), -1px -1px 1px var(--outline), -1px 1px 1px var(--outline), 0px 0px 2px var(--outline);
                -webkit-text-stroke: 0.5px var(--outline);
                color: var(--lightGreen);
                .incentiveBarFill{
                    background-color: var(--darkGreen);
                }
            }

        }
        .incentiveOptionRow{
            .incentiveBar{
                &:nth-of-type(1) .incentiveBarFill{
                    background-color: var(--green);
                }
                &:nth-of-type(2) .incentiveBarFill{
                    background-color: var(--blue);
                }
                &:nth-of-type(3) .incentiveBarFill{
                    background-color: var(--LightBlue);
                }
                &:nth-of-type(4) .incentiveBarFill{
                    background-color: var(--lightGreen);
                }
                &:nth-of-type(5) .incentiveBarFill{
                    background-color: var(--lightOrange);
                }

                &.winningOption {
                    .incentiveBarFill {
                        color: var(--darkestPurple);
                        background-color: var(--darkGreen);
                    }
                    color: var(--darkGreen);
                    text-shadow: 0px 0px 3px var(--darkestPurple), 0px 0px 3px var(--darkestPurple);
                }
                &.emptyOption {
                    .incentiveBarFill {
                        filter: saturate(1);
                    }
                }
            }
        }
    }
}
.donateBarMain {
    --outline: var(--darkerForest);
    text-shadow: 1px 1px 1px var(--outline), 1px -1px 1px var(--outline), -1px -1px 1px var(--outline), -1px 1px 1px var(--outline), 0px 0px 2px var(--outline);
    -webkit-text-stroke: 0.5px var(--outline);
    color: var(--LightBlue);
}
.timer {
    &.timerStopped {
        --timerFlashColor: var(--green);
        color: var(--darkGreen);
    }
    &.timerRunning {
        color: var(--blue);
    }
    &.timerIdle {
        color: var(--darkerForest);
    }
}