:root {
  --background: #ffffff;
  --foreground: #171717;
}


html,
body {
  overflow: hidden;
}

main {
  width: 1920px;
  height: 1080px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
