.masked {
    mask: url(#HOLES);
    .overlay {
        visibility: hidden;
    }

}
.unmasked {
    visibility: hidden;
    .overlay {
        visibility: visible;
    }
}

main > .masked, main > .unmasked {
    width: inherit;
    height: inherit;
    overflow: clip;
}